#include <behaviors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAGINATA 1
#define LOWER 2
#define RAISE 3
#define ADJUST 4
#define MOUSE 5

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };
};

&sl { release-after-ms = <250>; };

keymap {
    compatible = "zmk,keymap";

    base_layer {
        display-name = "Base";
        sensor-bindings = <&scroll_down_up>;
        bindings = <
&kp GRAVE       &kp N1  &kp N2     &kp N3    &kp N4     &kp N5      &kp N6     &kp N7   &kp N8    &kp N9   &kp N0   &kp MINUS
&kp TAB         &kp Q   &kp W      &kp E     &kp R      &kp T       &kp Y      &kp U    &kp I     &kp O    &kp P    &kp EQUAL
&kp LSHIFT      &kp A   &kp S      &kp D     &kp F      &kp G       &kp SQT    &kp RBKT &kp H     &kp J    &kp K    &kp L    &kp LBKT  &kp FSLH
&kp ESC         &kp Z   &kp X      &kp C     &kp V      &kp B       &kp SEMI   &kp NUHS &kp N     &kp M    &kp COMMA &kp DOT &mkp LCLK &kp INT1
&kp LCTRL       &kp LALT &kp DEL   &mkp MCLK &mo LOWER  &kp BSPC    &kp ENTER  &kp SPACE                              &mkp RCLK
        >;
    };

    naginata_layer {
        display-name = "Naginata";
        bindings = <
&kp NUMLOCK  &kp F1    &kp F2     &kp F3     &kp F4   &kp F5    &kp F6   &kp F7   &kp F8  &kp F9  &kp F10 &none
&none        &kp Q     &kp UP     &kp E      &kp R    &kp T     &kp F15  &kp F14  &kp F13 &kp F12 &kp F11 &none
&none        &kp LEFT  &kp DOWN   &kp RIGHT  &kp F    &kp G     &kp PG_UP &kp INS &kp H   &kp J   &kp K   &kp L   &kp SEMI &none
&none        &kp Z     &kp X      &kp C      &kp V    &kp B     &kp PG_DN &kp PSCRN &kp N &kp M   &kp COMMA &kp DOT &kp FSLH &trans
&kp LGUI              &studio_unlock &none   &none    &kp SPACE &trans    &trans   &none                               &trans
        >;
    };

    lower_layer {
        display-name = "Lower";
        bindings = <
&trans &kp F1  &kp F2   &kp F3  &kp F4 &kp F5 &none  &none &none &none &none &none
&trans &none   &kp UP   &none   &none  &none  &none  &none &none &none &none &none
&trans &kp LEFT &kp DOWN &kp RIGHT &none &none &none &none &none &none &none &none &none &none
&trans &none   &none    &none   &none  &none  &none  &none &none &none &none &none &none &none
&trans         &none    &none   &none  &none  &none  &none &none                      &none
        >;
    };

    raise_layer {
        display-name = "Raise";
        bindings = <
&trans &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &mkp RCLK &mkp LCLK &msc SCRL_UP &msc SCRL_LEFT &kp PG_UP &kp HOME &none &kp UP &none &none &none
&trans &none &none &mkp MB4 &mkp MB5 &msc SCRL_DOWN &msc SCRL_RIGHT &kp PG_DN &kp END &kp LEFT &kp DOWN &kp RIGHT &none &none
&trans       &none &trans &trans &trans &trans &trans &kp DEL                       &trans
        >;
    };

    adjust_layer {
        display-name = "Adjust";
        bindings = <
&trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none &none &none
&trans       &kp C_MUTE &trans &trans &trans &trans &trans &kp DEL                 &trans
        >;
    };

    mouse_layer {
        display-name = "Mouse";
        bindings = <
&trans &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none &none &none
&trans &none &none &none &none &none &none &none &none &none &none &none &mkp LCLK &none
&trans       &none &none &none &none &none &none &none                      &mkp RCLK
        >;
    };
};
